@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');


*{
    scroll-behavior: smooth;
}
a:hover{
    color: rgb(0, 0, 0);
}

:root{
    --background: linear-gradient(135deg, #667eea7e 0%, #764ba298 100%);
    --color-primary:#667eea;
    --color-secondary:#764ba2;
    --boton-padding: 20px 40px;
}


body{
    font-family: 'Raleway', sans-serif;
}

.container{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 80px 0;
    max-width: 1200px;
}

.subtitle{
    color: var(--color-primary);
    font-size: 2.5rem;
    margin-bottom: 35px;
}

.hero{
    height: 100vh;
    background-image: var(--background), url('../assets/work.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;

}

.hero .container{
    padding: 0;

}

.nav{
    display: flex;
    justify-content:flex-end ;
    height: 70px;
    align-items: center;
    font-weight: 700;
}

.nav--footer{
    font-weight: 300;
    justify-content: flex-start;
}

.nav_items{
    color: white;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px 15px;
    font-weight: inherit;
}

.nav_items--cta{
    border: 1px solid white;
}

.nav_items--footer{
    padding: 10px;
}


.hero_container{
    display: flex;
    height: calc(100vh - 70px);
    align-items: center;
    color: white;
}

.hero_wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
}

.hero_texts{
    width: 80%;
    margin-bottom: 50px;
}

.hero_title{
    font-size: 3.2rem;
    font-family: monospace;
}

.hero_subtitle{
    font-size: 2rem;
    font-weight: 300;
    margin: 15px 0;
    font-family: monospace;
}

.hero_cta{
    display: inline-block;
    background: white;
    padding: var(--boton-padding);
    color: var(--color-primary);
    text-decoration: none;
    border-radius: 40px;
}

.maquina_escribir{
        display: block;
        white-space: nowrap;
        border-right: 3px solid ;
        width: 16ch;
        animation: typing 2s steps(16)infinite alternate,
      blink .5s infinite step-end alternate;
        overflow: hidden;
}

@keyframes typing{
    from{width:0}
}

@keyframes blink {
    50%{border-color: transparent;}
}

/*about*/

.presentation{
    text-align: center;
    padding-bottom: 15vh;
}

.presentation_picture{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
}

.presentation_copy{
    width: 80%;
    margin: 0 auto;
}

.presentation_cta{
    display: inline-block;
    margin-top: 30px;
    background-color: var(--color-primary);
    color: white;
    text-decoration: none;
    padding: var(--boton-padding);
    border-radius: 40px;
}

.about{
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 80px;
    justify-items: center;
    align-items: center;
}

.about_img{
    text-align: center;
}

.about_img--left{
    text-align: left;
}


.about_picture{
    max-width: 80%;

}

.about_paragraph{
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: 300;
}

/*proyects*/

.projects{
    background: #f2f2f2;
}

.projects_grid{
    display: grid;
    height: 550px;
    grid-template-areas: 
    "img1 img1 img2 img3"
    "img1 img1 img4 img5";
    gap: 10px;
}

.projects_item{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.projects_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.projects_item:nth-of-type(1){
    grid-area: img1;
}

.projects_item:nth-of-type(2){
    grid-area: img2;
}

.projects_item:nth-of-type(3){
    grid-area: img3;
}

.projects_item:nth-of-type(4){
    grid-area: img4;
}

.projects_item:nth-of-type(5){
    grid-area: img5;
}

.projects_hover{
    position: absolute;
    background: #85c2ff8c;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(100%);
    cursor: pointer;
    transition: transform .3s ease-in-out;
}

.projects_item:hover .projects_hover{
    transform: translateX(0%);
}

.presentation_icon{
    margin-top: 10px;
    font-size: 30px;

}

/*footer*/

.footer{
    background: var(--color-primary);
}

.footer_grid{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;
    align-items: center;
}

.footer_title{
    font-weight: 400;
    color: white;
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
}

.footer_icons{
    display: flex;
    justify-content: space-evenly;

}

.footer_container-icons{
    display: block;
    width: 60px;
    height: 60px;
    color: white;
    text-align: center;
    border-radius: 50%;

}

.footer_icon{
    color: inherit;
    font-size: 30px;
    text-decoration: none;
}

/*responsive*/

@media screen and (max-width: 800px){
    :root{
        --boton-padding: 18px 40px;
    }

    .nav{
        justify-content: space-around;
    }
    
    .nav_items--cta{
        border: none;
    }

    .nav_items{
        font-weight: 400;
        border-bottom: 1px solid white;
        margin-right: 0;
    }

    .nav_items--footer{
        border: none;
    }

    .hero_texts{
        width: 100%;
        margin-bottom: 80px;
    }

    .hero_title{
        font-size: 2.5rem;
    }

    .hero_subtitle{
        font-size: 1.5rem;
    }


    .presentation_copy{
        width: 100%;
    }

    .about{
        grid-template-columns: 1fr;
    }

    .about.container{
        padding-top: 30px;
    }

    .about_img--left{
        text-align: center;
    }

    .about_texts:last-child{
        grid-row: 3/4;
    }

    .projects_grid{
        grid-template-areas: 
        "img1 img1 img2 img2"
        "img1 img1 img3 img3"
        "img4 img4 img5 img5";
    }


    .footer_grid{
        grid-template-columns: 1fr;
    }

    .footer_contact{
        grid-row: 1/2;
    }
}

@media screen and (max-width: 500px){
    :root{
        --boton-padding: 18px 35px;
    }

    .subtitle{
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .nav{
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 10px;
    }

    .nav_items{
        padding: 0 10px;
        border: 0;
    }

    .hero_texts{
        text-align: center;
        margin-bottom: 100px;
    }

    .hero_title{
        font-size: 2rem;
    }

    .presentation_picture{
        width: 120px;
        height: 120px;
    }

    .about{
        row-gap: 60px;
    }

    .about.container{
        padding-top: 10px;
    }

    .projects_grid{
        grid-template-areas: 
        "img1"
        "img2"
        "img3"
        "img4"
        "img5";
        height: auto;
        grid-template-rows: repeat(5, 250px);
        grid-auto-flow: 250px;
        gap: 10px;
    }
}

